<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <script src="https://kit.fontawesome.com/700da961d8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header class="home__header">
        <div class="home__header__container-desktop-tablet">
            <div class="home__header__logo">
                <a href="/"><img src="/img/logo-mercado-liebre.svg" alt=""></a>
                <div class="home__header__busqueda">
                    <form action="/buscar" method="GET">
                        <input type="text" name="q" placeholder="Buscar productos, marcar">
                        <button type="submit"><i class="fas fa-search"></i></button>
                    </form>
                </div>
            </div>
            <p class="home__header__p-pagos"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de
                crédito</p>
        </div>
        <nav class="home__header__nav-menu">
            <ul class="home__header__nav-menu-superior">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="home__header__nav-menu-inferior">
                <li><a href="#">Creá tu cuenta</a> <i class="fa-regular fa-address-card"></i></li>
                <li><a href="#">Ingresá</a> <i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="#">Mis compras</a> <i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>
        <nav class="home__header__nav-burger-menu">
            <div class="home__header__div__burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </nav>

    </header>
    <main class="home__main">
        <img class="home__main-banner" src="/img/img-home-banner.jpg" alt="">
        <section class="home__main__section">
            <h3>Basado en tu última visita</h3>
            <div class="home__main__container-productos">
                <article class="home__main__section-productos">
                    <img src="/img/img-cafetera-moulinex.jpg" alt="">
                    <div class="home__main__section-productos-descripcion">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% OFF</p>
                        <h5>Cafetera Moulinex</h5>
                    </div>
                </article>
                <article class="home__main__section-productos">
                    <img src="/img/img-macbook-pro-2019.jpg" alt="">
                    <div class="home__main__section-productos-descripcion">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% OFF</p>
                        <h5>MacBook Pro 2019</h5>
                    </div>
                </article>
                <article class="home__main__section-productos">
                    <img src="/img/img-samsung-galaxy-s10.jpg" alt="">
                    <div class="home__main__section-productos-descripcion">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% OFF</p>
                        <h5>Samsung Galaxy S10</h5>
                    </div>
                </article>
                <article class="home__main__section-productos">
                    <img src="/img/img-tv-samsung-smart.jpg" alt="">
                    <div class="home__main__section-productos-descripcion">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% OFF</p>
                        <h5>SmartTv Samsung 43"</h5>
                    </div>
                </article>
            </div>

        </section>

        <section class="home__main__section">
            <h3>Ofertas</h3>
            <div class="home__main__container-productos">
                <article class="home__main__section-productos">
                    <img src="/img/img-cafetera-moulinex.jpg" alt="">
                    <div class="home__main__section-productos-descripcion">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% OFF</p>
                        <h5>Cafetera Moulinex</h5>
                    </div>
                </article>
                <article class="home__main__section-productos">
                    <img src="/img/img-macbook-pro-2019.jpg" alt="">
                    <div class="home__main__section-productos-descripcion">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% OFF</p>
                        <h5>MacBook Pro 2019</h5>
                    </div>
                </article>
                <article class="home__main__section-productos">
                    <img src="/img/img-samsung-galaxy-s10.jpg" alt="">
                    <div class="home__main__section-productos-descripcion">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% OFF</p>
                        <h5>Samsung Galaxy S10</h5>
                    </div>
                </article>
                <article class="home__main__section-productos">
                    <img src="/img/img-tv-samsung-smart.jpg" alt="">
                    <div class="home__main__section-productos-descripcion">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% OFF</p>
                        <h5>SmartTv Samsung 43"</h5>
                    </div>
                </article>
            </div>

        </section>
    </main>
    <footer class="home__footer">
        <article class="home__footer-article">
            <i class="fa-solid fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </article>
        <article class="home__footer-article">
            <i class="fa-solid fa-gift"></i>
            <h3>Envío gratis desde $2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
                Mercado Puntos.</p>
        </article>
        <article class="home__footer-article">
            <i class="fa-solid fa-user-shield"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </article>


        <p class="home__footer-copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>