@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

:root {
  /* Colores de la paleta */
  --colorAmarillo: #eac926;
  --colorAzul: #03264c;
  --colorCeleste: #1259c3;
  --colorGrisOscuro: #666;
  --colorGrisClaro: #ebebeb;
  --colorVerde: #39b54a;

  /* Tipografia */
  --tipografia: "Roboto", sans-serif;

  /* Tamaño de tipografia*/
  --textos: 12px;
  --titulos: 24px;
  --precios: 18px;
  --descuentos: 16px;
  --descripcion: 16px;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--tipografia);
  box-sizing: border-box;
}

h3 {
  font-size: var(--titulos);
  margin-top: 10px;
}

a {
  font-size: var(--textos);
  font-weight: 400;
  color: black;
  text-decoration: none;
}

p {
  font-size: var(--textos);
}

li {
  list-style: none;
}

body {
  background-color: var(--colorGrisClaro);
}

/* HEADER */

.home__header {
  background-color: var(--colorAmarillo);
  padding: 25px 0;
}


.home__header__logo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.home__header__logo a{
  width: 50%;
  padding: 15px;

}

.home__header__busqueda {
  width: 50%;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
}

.home__header__busqueda input {
  width: 90%;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 5px;
}

.home__header__busqueda button {
  background-color: white;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-left: -15px;
  padding: 5px;
}

.home__header__p-pagos {
  text-align: center;
}

.home__header__nav-menu {
  margin-top: 15px;
}

.home__header__nav-menu-superior {
  display: none;
  margin-bottom: 20px;
}

.home__header__nav-menu-inferior {
  display: none;
  margin-bottom: 20px;
}

.home__header__nav-burger-menu {
  display: flex;
  justify-content: center;
}

.home__header__div__burger-menu {
  background-color: var(--colorCeleste);
  color: #fff;
  text-align: center;
  padding-top: 8px;
  width: 40px;
  height: 40px;
  font-size: 1.4rem;
  border-radius: 5px;
}

/* MAIN */

.home__main {
  width: 100%;
  margin: 0 auto;
}

.home__main-banner {
  width: 100%;
}

.home__main__section {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 15px;
}

.home__main__section-productos {
  margin: 10px auto 0px;
}

.home__main__section-productos img {
  width: 100%;
}

.home__main__section-productos-descripcion {
  border-top: solid 1px var(--colorGrisClaro);
  background-color: white;
  padding: 15px;
  position: relative;
  gap: 2%;
}

.home__main__section-productos-descripcion i {
  display: block;
  background-color: white;
  color: var(--colorVerde);
  font-size: 16px;
  border-radius: 50%;
  padding: 5px;
  border: solid 1px var(--colorVerde);
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  top: -15px;
}

.precio {
  font-size: var(--precios);
  font-weight: bold;
}

.descuento {
  color: var(--colorVerde);
  font-size: var(--descuentos);
}

.home__main__section-productos-descripcion h5 {
  display: none;
  padding-top: 1.5rem;
  font-size: var(--descripcion);
}

/* FOOTER */

.home__footer {
  padding: 32px;
  padding-top: 50px;
  padding-bottom: 15px;
  background-color: #fff;
}

.home__footer-article {
  text-align: center;
  margin-bottom: 50px;
}

.home__footer i {
  color: var(--colorCeleste);
  font-size: 2em;
  margin-bottom: 10px;
}

.home__footer-copyright {
  margin-left: -20px;
  font-size: var(--textos);
}

/* PUNTOS DE CORTE */

/* TABLET Y DESKTOP */

@media (min-width: 768px) {
  /* HOME TABLET*/

  .home__header__logo a {
    width: 100%;
  }

  .home__header__container-desktop-tablet {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home__header__busqueda {
    width: 100%;
    padding: 30px 0 20px;
  }

  .home__header__p-pagos {
    width: 45%;
  }

  .home__header__nav-menu{
    display: flex;
    justify-content: space-between;
    margin: 0;
  }

  .home__header__nav-menu-superior {
    display: inherit;
    margin: 0;
  }

  .home__header__nav-menu-superior li {
    padding: 0 10px;
  }

  .home__header__nav-menu-inferior {
    display: inherit;
    margin: 0;
  }

  .home__header__nav-menu-inferior li {
    padding: 0 10px;
  }

  .home__header__div__burger-menu {
    display: none;
  }
  .home__header__busqueda-barra {
    width: 30%;
  }
  /* MAIN TABLET */

  .home__main__container-productos {
    display: flex;
    flex-wrap: wrap;
  }

  .home__main__section h3 {
    margin: 25px 30px;
  }

  .home__main__section-productos-descripcion h5 {
    display: inherit;
  }

  .home__main__section-productos {
    width: 40%;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

  .home__main__section-productos-descripcion {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width:1024px){
  .home__main__section-productos {
    width: 20%;
  }
}
